<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.hdb.mapper.db2.JobWorkstepActualtimesMapper">


    <select id="getActualTimesByWorkstepId" parameterType="java.lang.String"
            resultType="com.xq.hdb.entity.JobWorkstepActualtimes">
        select * from job_workstep_actualtimes where workstepId = #{workstepId}
    </select>


    <delete id="deleteActualtimeByWorkstepId">
        delete from job_workstep_actualtimes where workstepId = #{workstepId}
    </delete>


</mapper>
