<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="10 seconds">

    <contextName>logback</contextName>
    <!-- 格式化输出：%date表⽰⽇期，%thread表⽰线程名，%-5level：级别从左显⽰5个字符宽度 %msg：⽇志消息，%n是换⾏符-->
    <property name="LOG_PATTERN" value="%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
    <!-- 控制台输出⽇志 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- ⽇志级别过滤INFO以下 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <!-- 按照上⾯配置的LOG_PATTERN来打印⽇志 -->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <!-- info⽇志 -->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 过滤⽇志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>  <!-- 如果命中就禁⽌这条⽇志 -->
            <onMismatch>ACCEPT</onMismatch>  <!-- 如果没有命中就使⽤这条规则 -->
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <!-- 滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 设置info⽇志路径 -->
            <fileNamePattern>D:/hdb/info.%d.log.zip</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 单文件最大10MB -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- error⽇志 -->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 过滤⽇志 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <!-- 滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 设置error⽇志路径 -->
            <fileNamePattern>D:/hdb/error.%d.log.zip</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 单文件最大10MB -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- info⽇志 -->
    <appender name="myInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 过滤⽇志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>  <!-- 如果命中就禁⽌这条⽇志 -->
            <onMismatch>ACCEPT</onMismatch>  <!-- 如果没有命中就使⽤这条规则 -->
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <!-- 滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 设置info⽇志路径 -->
            <fileNamePattern>D:/hdb/signal_Info.%d.log.zip</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 单文件最大10MB -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="com.xq.hdb.controller.ReceiveSubscriptionController" value="INFO" additivity="false">
        <appender-ref ref="myInfo"/>
    </logger>

    <!-- ⽇志输出级别 -->
    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="fileInfoLog" />
        <appender-ref ref="fileErrorLog" />
    </root>

</configuration>