<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.hdb.mapper.db3.JobSignalStatusNewMapper">

    <resultMap type="com.xq.hdb.vo.DeviceDataVO" id="deviceDataVOResult">
        <result property="jobId" column="jobid"/>
        <result property="startTime" column="start_time"/>
        <result property="time" column="time"/>
        <result property="activityName" column="activity_name"/>
        <result property="activityId" column="activity_id"/>
        <result property="eventId" column="event_id"/>
        <result property="totalProductionCounter" column="total_production_counter"/>
        <result property="productionCounter" column="production_counter"/>
        <result property="status" column="status"/>
        <result property="statusDetails" column="status_details"/>
        <result property="amount" column="amount"/>
        <result property="waste" column="waste"/>
    </resultMap>

    <sql id="deviceDataSql">
        SELECT CONCAT(jssdp.start_time,jssdp.job_id) as
        jobid,jssdp.start_time,jssh.time,jssdpa.activity_name,jssdpa.activity_id,jssde.event_id,jssd.total_production_counter,
        jssd.production_counter,jssd.`status`,jssd.status_details,jssdp.amount,jssdp.waste
        FROM job_signal_status_header jssh
        left join job_signal_status jss on jssh.signalStatusId=jss.id
        left join job_signal_status_device jssd on jss.id=jssd.signalStatusId
        left join job_signal_status_device_phase jssdp on jssd.id=jssdp.signalStatusDeviceId
        left join job_signal_status_device_event jssde on jssd.id=jssde.signaStatusDeviceId
        left join job_signal_status_device_phase_activity jssdpa on jssdp.id=jssdpa.signalStatusDevicePhaseId
    </sql>

    <!--根据日期获取数据总数-->
    <select id="getSignalStatusCountByDate" resultType="java.lang.Integer">
        select count(DISTINCT jss.id) from job_signal_status jss
        left join job_signal_status_header jssh on jss.id = jssh.signalStatusId
        <where>
            <if test="deviceId != null  and deviceId != ''">
                and jssh.device_id = #{deviceId}
            </if>
            <if test="startDate != null  and endDate != null  ">
                and jss.create_time between #{startDate} and #{endDate}
            </if>
        </where>
    </select>

    <!--根据日期获取(分页获取)-->
    <select id="pagingGetSignalStatusByDate" resultType="java.util.Map">
        select distinct jss.id from job_signal_status jss
        left join job_signal_status_header jssh on jss.id = jssh.signalStatusId

        <where>
            <if test="deviceId != null  and deviceId != ''">
                and jssh.device_id = #{deviceId}
            </if>
            <if test="startDate != null  and endDate != null ">
                and jss.create_time between #{startDate} and #{endDate}
            </if>
        </where>

        order by jss.create_time desc
        limit #{startIndex}, #{pageSize}
    </select>


    <select id="pagingGetSignalStatus" resultType="java.util.Map">
        select distinct jss.id from job_signal_status jss
        left join job_signal_status_header jssh on jss.id = jssh.signalStatusId

        <where>
            <if test="startDate != null  and endDate != null ">
                and jss.create_time between #{startDate} and #{endDate}
            </if>
        </where>

        order by jss.create_time desc
    </select>

    <!--根据日期获取(分页获取)-->
    <select id="getJobIdOnly" resultType="java.util.Map">
        select job_id as jobId from job_sync_record
        <where>
            <if test="startDate != null  and endDate != null ">
                and create_time between #{startDate} and #{endDate}
            </if>
        </where>
        GROUP BY job_id
        order by create_time asc
    </select>


    <select id="getJobSignalStatus" resultMap="deviceDataVOResult">
        <include refid="deviceDataSql"></include>
        <where>
            jssdp.job_id !=''
            <if test="startDate != null  and endDate != null ">
                and jssh.time between #{startDate} and #{endDate}
            </if>
            <if test="deviceId != null and deviceId != ''">
                and jssh.device_id =#{deviceId}
            </if>
        </where>
        ORDER BY jssh.time ASC
    </select>

    <select id="getProductWaste" resultMap="deviceDataVOResult">
        <include refid="deviceDataSql"></include>
        <where>
            jssdp.job_id !='' and jssdpa.activity_name=#{activityName}
            <if test="startDate != null  and endDate != null ">
                and jssh.time between #{startDate} and #{endDate}
            </if>
            <if test="deviceId != null and deviceId != ''">
                and jssh.device_id =#{deviceId}
            </if>
        </where>
        ORDER BY jssh.time ASC
    </select>

    <select id="getGroupDeviceJobId" resultType="java.util.Map">
        SELECT CONCAT(jssdp.start_time,jssdp.job_id) as jobid
        FROM job_signal_status_header jssh
        left join job_signal_status jss on jssh.signalStatusId=jss.id
        left join job_signal_status_device jssd on jss.id=jssd.signalStatusId
        left join job_signal_status_device_phase jssdp on jssd.id=jssdp.signalStatusDeviceId
        <where>
            jssdp.job_id !=''
            <if test="startDate != null  and endDate != null ">
                and jssh.time between #{startDate} and #{endDate}
            </if>
            <if test="deviceId != null and deviceId != ''">
                and jssh.device_id =#{deviceId}
            </if>
        </where>
        GROUP BY jobid
    </select>

    <select id="getDeviceByJobId" resultMap="deviceDataVOResult">
        <include refid="deviceDataSql"></include>
        <where>
            jssdp.job_id !=''
            <if test="startDate != null  and endDate != null ">
                and jssh.time between #{startDate} and #{endDate}
            </if>
            <if test="deviceId != null and deviceId != ''">
                and jssh.device_id =#{deviceId}
            </if>
            <if test="activityName != null and activityName != ''">
                and jssdpa.activity_name=#{activityName}
            </if>

        </where>
        HAVING jobid = #{jobId}
        ORDER BY jssh.time ASC
    </select>


</mapper>
