<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.hdb.mapper.db3.JobSignalStatusHeaderNewMapper">


    <select id="getHeaderBySignalStatusId" parameterType="java.lang.String" resultType="java.util.Map">
        select device_id from job_signal_status_header
        where
        signalStatusId = #{signalStatusId}
        order by create_time desc
        limit 1
    </select>

    <!--之前是data_time-->
    <select id="getTimeByStatusIdAndDeviceId" resultType="java.util.Date">
        select time from job_signal_status_header
        where
        signalStatusId = #{signalStatusId}
        and device_id = #{deviceId}
        order by id desc
        limit 1
    </select>

    <!--    <select id="getCreateTimeByStatusIdAndDeviceId"  resultType="java.util.Date">-->
    <!--        select create_time from job_signal_status_header-->
    <!--        where-->
    <!--            signalStatusId = #{signalStatusId}-->
    <!--          and device_id = #{deviceId}-->
    <!--        order by id desc-->
    <!--            limit 1-->
    <!--    </select>-->

    <select id="getCreateTimeByStatusIdAndDeviceId" resultType="java.util.Date">
        SELECT jss.create_time as create_time from job_signal_status_header jssh
        left join job_signal_status jss on jssh.signalStatusId=jss.id
        where jssh.signalStatusId= #{signalStatusId}
        and jssh.device_id= #{deviceId}
        order by jssh.id desc
        limit 1
    </select>

    <select id="getStatisticsDate" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT jssh.time from job_signal_status_header jssh
        left join job_signal_status jss on jssh.signalStatusId=jss.id
        left join job_signal_status_device jssd on jss.id=jssd.signalStatusId
        left join job_signal_status_device_event jssde on jssd.id=jssde.signaStatusDeviceId
        <where>
            <if test="deviceId != null  and deviceId != ''">
                and jssh.device_id = #{deviceId}
            </if>
            <if test="startDate != null  and endDate != null ">
                and jssh.time between #{startDate} and #{endDate}
            </if>
            <if test="eventId != null  and eventId != ''">
                and jssde.event_id = #{eventId}
            </if>
        </where>
        order by jssh.time desc

    </select>


</mapper>
