<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.hdb.mapper.db4.JobWorkstepTypeNewMapper">


    <delete id="deleteTypeByWorkstepId">
        delete from job_workstep_type where workstepId = #{workstepId}
    </delete>


</mapper>
